<h2>Compose new fweet</h2>
  <br></br>

  <form method="POST" action='/tweets'>
    <label>What is happening?</label>
    <p><input type="text" name="tweet[content]"></input></p>
    <input type="submit" value="Fweet"></input>
  </form>
