<h2>Compose new fweet</h2>
  <br></br>

  <form method="POST" action='/tweet'>
    <label>What is happening?</label>
    <p><input type="text" name="content" id="tweet.content" value=""></p>
    
  </form>
