
<h2>Create a Fweetername!</h2>
  <br></br>

  <form method="POST" action='/signup'>
    <label>Username:</label>
    <p><input type="text" name="username" id="username"></input></p>
      <label>Email:</label>
      <p><input type="text" name="email" id="email"></input></p>

      <label>Password:</label>
      <p><input type="text" name="password" id="password"></input></p>

      <input type="submit" value="Create Username" id="submit"></input>

  </form>
  
